.bug {
    color: #F8F9FA;
    background-color: #009769;
  }
  .dragon {
    color: #F8F9FA;
    background-color: #2AC5B7;
  }
  .grass {
    color: #F8F9FA;
    background-color: #0EC273;
  }
  .steel {
    color: #F8F9FA;
    background-color: #74E3A9;
  }
  .dark {
    color: #F8F9FA;
    background-color: #474447;
  }
  .flying {
    color: #F8F9FA;
    background-color: #8C9DAF;
  }
  .normal {
    color: #F8F9FA;
    background-color: #C28DBB;
  }
  .ghost {
    color: #F8F9FA;
    background-color: #9B53A2;
  }
  .rock {
    color: #F8F9FA;
    background-color: #632E03;
  }
  .ground {
    color: #F8F9FA;
    background-color: #895524;
  }
  .fighting {
    color: #F8F9FA;
    background-color: #C84F00;
  }
  .fire {
    color: #F8F9FA;
    background-color: #DB390B;
  }
  .electric {
    color: #F8F9FA;
    background-color: #FFC000;
  }
  .poison {
    color: #F8F9FA;
    background-color: #6E42FF;
  }
  .psychic {
    color: #F8F9FA;
    background-color: #DC00B7;
  }
  .fairy {
    color: #F8F9FA;
    background-color: #EE4068;
  }
  .water {
    color: #F8F9FA;
    background-color: #4161EF;
  }
  .ice {
    color: #F8F9FA;
    background-color: #91E1EF;
  }